
.titulo-libros{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    text-align: center;
    font-size: small;

}





.producto-container{
 
    display: flex;
    justify-content: space-between;



}


