.box-fenotipo{
    display: flex;
    justify-content: space-around;
    background-image: url(../img/photo-1611708314849-8bb91fe0fa56.webp);
    background-size:cover;
    height: 500px;
    margin-top: 10px;
    padding-top: 50px;

    .box1-fenotipo{

        background-color: rgba(192, 214, 226, 0.729);
width: 300px;
height: 300px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;

    }

    .box2-fenotipo{
        background-color: rgba(192, 214, 226, 0.729);
    width: 300px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    }

    .box3-fenotipo{
        
        background-color: rgba(192, 214, 226, 0.729);
    width: 300px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    }



}

.articulo{
    padding-top: 20px;
}

.articulo-fenotipo{
    display: flex;
    background-color: rgba(127, 169, 206, 0.428);
    
}
.subtitulo-fenotipo{
  
   margin-left: 70px;
   margin-right: 20px;
   margin-top: 50px;
}
.texto-fenotipo{
    padding-top: 50px;
    
}