#test{


display: block;

    .cuestion{
        display: block;
        font-size: medium;
        font-weight: bold
        
    }

.respuestas{
    display: grid;
    font-size: medium;

  
}




}
